
version: '3.8'
services:
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecsdb
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:6
    ports:
      - 6379:6379
  api:
    build: ..
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ..:/code
    ports:
      - 8000:8000
    depends_on:
      - db
      - redis
  worker:
    build: ..
    command: celery -A app.workers.celery_app.celery worker --loglevel=info
    volumes:
      - ..:/code
    depends_on:
      - db
      - redis
volumes:
  db_data:
